.App {
  text-align: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
.components{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.textDiv{
  width: 100%;
  margin: 0 auto;
}
.imgDiv{
  width:90%;
  display: flex;
  justify-content: flex-end
}
